<!DOCTYPE HTML>

<html>

	<head>
		<title>监利县源田玻璃有限公司</title>
		<meta charset="utf-8" />
		<link rel="stylesheet" type="text/css" href="css/banner-j.css" />
		<link rel="stylesheet" type="text/css" href="css/main.css" />
		<meta name="viewport" content="width=1200,user-scalable=yes">
	</head>

	<body>
		<header class="main-header">
			<div class="logo-bar clearfix">
				<div class="clearfix">
					<div class="logo">
						<img src="images/logo.jpg" />
					</div>
					<!--<div class="language">
						<div>
							<a href="">
								<img src="images/cn.jpg" />
								<p>简体中文</p>
							</a>
						</div>
						<div>
							<a href="">
								<img src="images/en.jpg" />
								<p>English</p>
							</a>
						</div>
					</div>-->
					
					<div class="phone clearfix">
						<img src="images/phone.jpg"/>
						<p>联系电话：18112651385</p>
					</div>
					<div class="search">
						<form class="clearfix">
							<input placeholder="输入搜索项" />
						</form>
						<a class="btn" href="">搜索</a>
					</div>
				</div>
			</div>
			<div class="nav">
				<ul class="clearfix">
					<li class="active">
						<a href="index">网站首页</a>
					</li>
					<li>
						<a href="about">关于我们</a>
						<ul class="dropdown">
							<li><a href="about">公司简介</a></li>
							<li><a href="about">企业文化</a></li>
							<li><a href="about">企业荣誉</a></li>
						</ul>
					</li>
					<li>
						<a href="products">产品中心</a>
						<ul class="dropdown">
							<li><a href="products">有机化工</a></li>
							<li><a href="products">无机化工</a></li>
							<li><a href="products">表面活性剂</a></li>
							<li><a href="products">医药中间体</a></li>
						</ul>
					</li>
					<li>
						<a href="news">公司新闻</a>
					</li>
					<li>
						<a href="partner">合作伙伴</a>
					</li>
					<li>
						<a href="contact">联系我们</a>
					</li>
				</ul>
			</div>
		</header>

		<div id="wrapper">
			<div class="fullwidthbanner-container">
				<div class="fullwidthbanner">
					<ul>
						<li data-transition="3dcurtain-horizontal" data-slotamount="15" data-masterspeed="300">
							<img src="images/banner/banner2.jpg" alt="" />
						</li>
						<li data-transition="3dcurtain-vertical" data-slotamount="15" data-masterspeed="300" data-link="#">
							<img src="images/banner/banner1.jpg" alt="" />
						</li>
						<li data-transition="papercut" data-slotamount="15" data-masterspeed="300" data-link="#">
							<img src="images/banner/banner3.jpg" alt="" />
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="bread">
			<ul class="clearfix">
				<li>
					<a href="index">首页</a>&nbsp;>&nbsp;
				</li>
				<li>
					<a href="about">公司文化</a>
				</li>
			</ul>
		</div>
		<div class="pg-main clearfix">
			<div class="pg-nav">
				<ul>
					<li>
						<a href="about">公司简介</a>
					</li>
					<li>
						<a href="ab-culture.html">企业文化</a>
					</li>
					<li>
						<a href="ab-honor.html">企业荣誉</a>
					</li>
				</ul>
			</div>
			<div class="pg-con">
				<div class="ab-culture">
					<img src="images/cul.jpg" />
					<p>追求高品质、高工艺水平，使用户享受卫生、健康、舒适的生活是我们一贯追求的目标。</p>
					<p>“合抱之木，生于毫末；九层之台，起于垒土；千里之行，始于足下。”我们锐意进取，努力打造优质、高效的产品供应链体系，秉承“科技引领市场、品质铸就品牌”的经营理念，为客户提供优质、周到的技术支持与服务。</p>
					<p>“穷则独善其身，达则兼济天下。”我们务实，但从未停止追求卓越，我们尊重合作伙伴的感受，诚邀各界业内人士长期沟通，共谋发展、共创辉煌！</p>
				</div>	
			</div>
		</div>
		<div class="space"></div>
		<footer>
			<p>Copyright ©2016-2017 版权所有 All Rights Reserved</p>
		</footer>

		<script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
		<script type="text/javascript" src="js/jquery.banner.revolution.min.js"></script>
		<script type="text/javascript" src="js/banner.js"></script>
		<script type="text/javascript" src="js/main.js"></script>
	</body>

</html>