<!DOCTYPE HTML>

<html>

	<head>
		<title>监利县源田玻璃有限公司</title>
		<meta charset="utf-8" />
		<link rel="stylesheet" type="text/css" href="css/banner-j.css" />
		<link rel="stylesheet" type="text/css" href="css/main.css" />
		<meta name="viewport" content="width=1200,user-scalable=yes">
	</head>

	<body>
		<header class="main-header">
			<div class="logo-bar clearfix">
				<div class="clearfix">
					<div class="logo">
						<img src="images/logo.jpg" />
					</div>
					<!--<div class="language">
						<div>
							<a href="">
								<img src="images/cn.jpg" />
								<p>简体中文</p>
							</a>
						</div>
						<div>
							<a href="">
								<img src="images/en.jpg" />
								<p>English</p>
							</a>
						</div>
					</div>-->
					
					<div class="phone clearfix">
						<img src="images/phone.jpg"/>
						<p>联系电话：18112651385</p>
					</div>
					<div class="search">
						<form class="clearfix">
							<input placeholder="输入搜索项" />
						</form>
						<a class="btn" href="">搜索</a>
					</div>
				</div>
			</div>
			<div class="nav">
				<ul class="clearfix">
					<li class="active">
						<a href="index">网站首页</a>
					</li>
					<li>
						<a href="about">关于我们</a>
						<ul class="dropdown">
							<li><a href="about">公司简介</a></li>
							<li><a href="about">企业文化</a></li>
							<li><a href="about">企业荣誉</a></li>
						</ul>
					</li>
					<li>
						<a href="products">产品中心</a>
						<ul class="dropdown">
							<li><a href="products">有机化工</a></li>
							<li><a href="products">无机化工</a></li>
							<li><a href="products">表面活性剂</a></li>
							<li><a href="products">医药中间体</a></li>
						</ul>
					</li>
					<li>
						<a href="news">公司新闻</a>
					</li>
					<li>
						<a href="partner">合作伙伴</a>
					</li>
					<li>
						<a href="contact">联系我们</a>
					</li>
				</ul>
			</div>
		</header>

		<div id="wrapper">
			<div class="fullwidthbanner-container">
				<div class="fullwidthbanner">
					<ul>
						<li data-transition="3dcurtain-horizontal" data-slotamount="15" data-masterspeed="300">
							<img src="images/banner/banner2.jpg" alt="" />
						</li>
						<li data-transition="3dcurtain-vertical" data-slotamount="15" data-masterspeed="300" data-link="#">
							<img src="images/banner/banner1.jpg" alt="" />
						</li>
						<li data-transition="papercut" data-slotamount="15" data-masterspeed="300" data-link="#">
							<img src="images/banner/banner3.jpg" alt="" />
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="bread">
			<ul class="clearfix">
				<li>
					<a href="index">首页</a>&nbsp;>&nbsp;
				</li>
				<li>
					<a href="about">联系我们</a>
				</li>
			</ul>
		</div>
		<div class="pg-main clearfix">
			<div class="pg-nav">
				<ul>
					<li>
						<a href="contact">联系我们</a>
					</li>
				</ul>
			</div>
			<div class="pg-con contpg">
				<iframe src="map/map.html"></iframe>
				<ul class="address clearfix">
					<li>公司地址：湖北省荆州市监利县城东工业园创业路20号</li>
					<li>联系电话：18112651385</li>
				</ul>
				<div class="message">
					<h3>在线留言：</h3>
					<form>
						<input placeholder="姓名" type="text"/>
						<input placeholder="电话" type="tel"/>
						<textarea placeholder="消息"></textarea>
					</form>
				</div>
				<a href="" class="btn">立即发送</a>
			</div>
			
		</div>
		<div class="space"></div>
		<footer>
			<p>Copyright ©2016-2017 版权所有 All Rights Reserved</p>
		</footer>

		<script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
		<script type="text/javascript" src="js/jquery.banner.revolution.min.js"></script>
		<script type="text/javascript" src="js/banner.js"></script>
		<script type="text/javascript" src="js/main.js"></script>
	</body>

</html>