<!DOCTYPE HTML>

<html>

	<head>
		<title>监利县源田玻璃有限公司</title>
		<meta charset="utf-8" />
		<meta name="format-detection" content="telephone=no"/>
        <meta name="viewport" content="width=1200,user-scalable=yes">
		<link rel="stylesheet" type="text/css" href="css/banner-j.css" />
		<link rel="stylesheet" type="text/css" href="css/main.css" />
	</head>

	<body>
		<header class="main-header">
			<div class="logo-bar clearfix">
				<div class="clearfix">
					<div class="logo">
						<img src="images/logo.jpg" />
					</div>
					<!--<div class="language">
						<div>
							<a href="">
								<img src="images/cn.jpg" />
								<p>简体中文</p>
							</a>
						</div>
						<div>
							<a href="">
								<img src="images/en.jpg" />
								<p>English</p>
							</a>
						</div>
					</div>-->
					
					<div class="phone clearfix">
						<img src="images/phone.jpg"/>
						<p>联系电话：18112651385</p>
					</div>
					<div class="search">
						<form class="clearfix">
							<input placeholder="输入搜索项" />
						</form>
						<a class="btn" href="">搜索</a>
					</div>
				</div>
			</div>
			<div class="nav">
				<ul class="clearfix">
					<li class="active">
						<a href="index">网站首页</a>
					</li>
					<li>
						<a href="about">关于我们</a>
						<ul class="dropdown">
							<li><a href="about">公司简介</a></li>
							<li><a href="about">企业文化</a></li>
							<li><a href="about">企业荣誉</a></li>
						</ul>
					</li>
					<li>
						<a href="products">产品中心</a>
						<ul class="dropdown">
							<li><a href="products">钢化玻璃</a></li>
							<li><a href="products">磨砂玻璃</a></li>
							<li><a href="products">防弹玻璃</a></li>
							<li><a href="products">中空玻璃</a></li>
						</ul>
					</li>
					<li>
						<a href="news">公司新闻</a>
					</li>
					<li>
						<a href="partner">合作伙伴</a>
					</li>
					<li>
						<a href="contact">联系我们</a>
					</li>
				</ul>
			</div>
		</header>

		<div id="wrapper">
			<div class="fullwidthbanner-container">
				<div class="fullwidthbanner">
					<ul>
						<li data-transition="3dcurtain-horizontal" data-slotamount="15" data-masterspeed="300">
							<img src="images/banner/banner2.jpg" alt="" />
						</li>
						<li data-transition="3dcurtain-vertical" data-slotamount="15" data-masterspeed="300" data-link="#">
							<img src="images/banner/banner1.jpg" alt="" />
						</li>
						<li data-transition="papercut" data-slotamount="15" data-masterspeed="300" data-link="#">
							<img src="images/banner/banner3.jpg" alt="" />
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="products">
			<section class="title">
				<h2>产品系列</h2>
			</section>
			<ul class="clearfix">
				<li>
					<a href="products">
						<img src="images/new/ganghua.jpg" width="250" height="250"/>
						<h3>钢化玻璃</h3>
						<p>它是普通平板玻璃经过再加工处理而成一种预应力玻璃。钢化玻璃相对于普通平板玻璃来说，具有两大特征：
						　　1、前者强度是后者的数倍，抗拉度是后者的3倍以上，抗冲击是后者5倍以上。
						　　2、钢化玻璃不容易破碎，即使破碎也会以无锐角的颗粒形式碎裂，对人体伤害大大降低。</p>
					</a>
				</li>
				<li>
					<a href="products">
						<img src="images/new/mosha.jpg" width="250" height="250"/>
						<h3>磨砂玻璃</h3>
						<p>它也是在普通平板玻璃上面再磨砂加工而成。一般厚度多在9厘以下，以5、6厘厚度具多</p>
					</a>
				</li>
				<li>
					<a href="products">
						<img src="images/new/fangdang.jpg" width="250" height="250"/>
						<h3>防弹玻璃</h3>
						<p>实际上就是夹层玻璃的一种，只是构成的玻璃多采用强度较高的钢化玻璃，而且夹层的数量也相对较多。多采用于银行或者豪宅等对安全要求非常高的装修工程之中</p>
					</a>
				</li>
				<li>
					<a href="products">
						<img src="images/new/zhongkong.jpg" width="250" height="250"/>
						<h3>真空玻璃</h3>
						<p>多采用胶接法将两块玻璃保持一定间隔，间隔中是干燥的空 气，周边再用密封材料密封而成，主要用于有隔音要求的装修工程之中</p>
					</a>
				</li>
			</ul>
		</div>
		<div class="newsbg">
			<div class="news">
				<section class="title">
					<h2>新闻中心</h2>
				</section>
				<div class="news-list clearfix">
					<div>
						<div>
							<img src="images/news/news1.jpg" />
							<div class=""></div>
						</div>
					</div>
					<div>
						<ul>
							<li>
								<div class="news-time">
									<span>20</span>
									<p>2017-6</p>
								</div>
								<h3><a href="newsDetail">澳大利亚反倾销理事会自7月1日起正式运作</a></h3>
							</li>
							<li>
								<div class="news-time">
									<span>20</span>
									<p>2017-6</p>
								</div>
								<h3><a href="newsDetail">全球化工并购“战略”味道渐浓</a></h3>
							</li>
							<li>
								<div class="news-time">
									<span>20</span>
									<p>2017-6</p>
								</div>
								<h3><a href="newsDetail">专家支招化工行业绿色发展</a></h3>
							</li>
							<li>
								<div class="news-time">
									<span>20</span>
									<p>2017-6</p>
								</div>
								<h3><a href="newsDetail">公司被评为第二季度省级优秀企业</a></h3>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="about">
			<section class="title">
				<h2>关于我们</h2>
			</section>
			<div class="aboutli">
				<img src="images/fg.jpg"/>
				<div>
					<div>
						<h3>监利县源田玻璃有限公司</h3>
						<p>
							玻璃加工、销售；玻璃加工技术信息咨询(以上经营范围涉及许可经营项目的，应取得相关部门许可后方可经营)。登记机关
						</p>
						<p>
							监利县源田玻璃与多家零售商和代理商建立了长期稳定的合作关系。其中钢化魔力、磨砂玻璃、中空玻璃等品种齐全、价格合理。监利县源田玻璃有限公司实力雄厚，重信用、守合同、保证产品质量，以多品种经营特色和薄利多销的原则，赢得了广大客户的信任。
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="space"></div>
		<footer>
			<p>Copyright ©2018-2019 版权所有 All Rights Reserved</p>
		</footer>

		<script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
		<script type="text/javascript" src="js/jquery.banner.revolution.min.js"></script>
		<script type="text/javascript" src="js/banner.js"></script>
		<script type="text/javascript" src="js/main.js"></script>
	</body>

</html>