<!DOCTYPE HTML>

<html>

	<head>
		<title>监利县源田玻璃有限公司</title>
		<meta charset="utf-8" />
		<link rel="stylesheet" type="text/css" href="css/banner-j.css" />
		<link rel="stylesheet" type="text/css" href="css/main.css" />
		<meta name="viewport" content="width=1200,user-scalable=yes">
	</head>

	<body>
		<header class="main-header">
			<div class="logo-bar clearfix">
				<div class="clearfix">
					<div class="logo">
						<img src="images/logo.jpg" />
					</div>
					<!--<div class="language">
						<div>
							<a href="">
								<img src="images/cn.jpg" />
								<p>简体中文</p>
							</a>
						</div>
						<div>
							<a href="">
								<img src="images/en.jpg" />
								<p>English</p>
							</a>
						</div>
					</div>-->
					
					<div class="phone clearfix">
						<img src="images/phone.jpg"/>
						<p>联系电话：18112651385</p>
					</div>
					<div class="search">
						<form class="clearfix">
							<input placeholder="输入搜索项" />
						</form>
						<a class="btn" href="">搜索</a>
					</div>
				</div>
			</div>
			<div class="nav">
				<ul class="clearfix">
					<li class="active">
						<a href="index">网站首页</a>
					</li>
					<li>
						<a href="about">关于我们</a>
						<ul class="dropdown">
							<li><a href="about">公司简介</a></li>
							<li><a href="about">企业文化</a></li>
							<li><a href="about">企业荣誉</a></li>
						</ul>
					</li>
					<li>
						<a href="products">产品中心</a>
						<ul class="dropdown">
							<li><a href="products">有机化工</a></li>
							<li><a href="products">无机化工</a></li>
							<li><a href="products">表面活性剂</a></li>
							<li><a href="products">医药中间体</a></li>
						</ul>
					</li>
					<li>
						<a href="news">公司新闻</a>
					</li>
					<li>
						<a href="partner">合作伙伴</a>
					</li>
					<li>
						<a href="contact">联系我们</a>
					</li>
				</ul>
			</div>
		</header>

		<div id="wrapper">
			<div class="fullwidthbanner-container">
				<div class="fullwidthbanner">
					<ul>
						<li data-transition="3dcurtain-horizontal" data-slotamount="15" data-masterspeed="300">
							<img src="images/banner/banner2.jpg" alt="" />
						</li>
						<li data-transition="3dcurtain-vertical" data-slotamount="15" data-masterspeed="300" data-link="#">
							<img src="images/banner/banner1.jpg" alt="" />
						</li>
						<li data-transition="papercut" data-slotamount="15" data-masterspeed="300" data-link="#">
							<img src="images/banner/banner3.jpg" alt="" />
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="bread">
			<ul class="clearfix">
				<li>
					<a href="index">首页</a>&nbsp;>&nbsp;
				</li>
				<li>
					<a href="about">新闻中心</a>
				</li>
			</ul>
		</div>
		<div class="pg-main clearfix">
			<div class="pg-nav">
				<ul>
					<li>
						<a href="new.html">公司新闻</a>
					</li>
					
				</ul>
			</div>
			<div class="pg-con newdetail">
				<h2>澳大利亚反倾销理事会自7月1日起正式运作</h2>
				<p class="ntime">发布时间：2017年6月19日</p>
				<div class="newdetailcon">
					<p>
						澳大利亚海关和边境服务署下设的反倾销理事会正式履行职能，反倾销理事会将管理澳大利亚反倾销制度和改革澳大利亚反倾销制度以使之符合世贸组织反倾销法规，此前是由澳大利亚国际贸易救济部管理。
					</p>
					<p>
						 反倾销理事会以法定的反倾销专员为首，成立反倾销理事会的法令在澳大利亚议会通过。反倾销理事会将设在墨尔本的海关大楼，但会继续保留堪培拉原有的办公机构。
					</p>
					<img src="images/news/news.jpg"/>
					<p>
						新的反倾销/反补贴调查申请和质询文本及其相关的申请指导文本将在反倾销委员会网站上提供。同时，反倾销理事会自日起管理新的进口数据援助计划以增加潜在的反倾销/反补贴申诉方访问澳大利亚统计局。
					</p>
				</div>
			</div>
		</div>
		<div class="space"></div>
		<footer>
			<p>Copyright ©2016-2017 版权所有 All Rights Reserved</p>
		</footer>

		<script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
		<script type="text/javascript" src="js/jquery.banner.revolution.min.js"></script>
		<script type="text/javascript" src="js/banner.js"></script>
		<script type="text/javascript" src="js/main.js"></script>
	</body>

</html>