<!DOCTYPE HTML>

<html>

	<head>
		<title>监利县源田玻璃有限公司</title>
		<meta charset="utf-8" />
		<link rel="stylesheet" type="text/css" href="css/banner-j.css" />
		<link rel="stylesheet" type="text/css" href="css/main.css" />
		<meta name="viewport" content="width=1200,user-scalable=yes">
	</head>

	<body>
		<header class="main-header">
			<div class="logo-bar clearfix">
				<div class="clearfix">
					<div class="logo">
						<img src="images/logo.jpg" />
					</div>
					<!--<div class="language">
						<div>
							<a href="">
								<img src="images/cn.jpg" />
								<p>简体中文</p>
							</a>
						</div>
						<div>
							<a href="">
								<img src="images/en.jpg" />
								<p>English</p>
							</a>
						</div>
					</div>-->
					
					<div class="phone clearfix">
						<img src="images/phone.jpg"/>
						<p>联系电话：18112651385</p>
					</div>
					<div class="search">
						<form class="clearfix">
							<input placeholder="输入搜索项" />
						</form>
						<a class="btn" href="">搜索</a>
					</div>
				</div>
			</div>
			<div class="nav">
				<ul class="clearfix">
					<li class="active">
						<a href="index">网站首页</a>
					</li>
					<li>
						<a href="about">关于我们</a>
						<ul class="dropdown">
							<li><a href="about">公司简介</a></li>
							<li><a href="about">企业文化</a></li>
							<li><a href="about">企业荣誉</a></li>
						</ul>
					</li>
					<li>
						<a href="products">产品中心</a>
						<ul class="dropdown">
							<li><a href="products">有机化工</a></li>
							<li><a href="products">无机化工</a></li>
							<li><a href="products">表面活性剂</a></li>
							<li><a href="products">医药中间体</a></li>
						</ul>
					</li>
					<li>
						<a href="news">公司新闻</a>
					</li>
					<li>
						<a href="partner">合作伙伴</a>
					</li>
					<li>
						<a href="contact">联系我们</a>
					</li>
				</ul>
			</div>
		</header>

		<div id="wrapper">
			<div class="fullwidthbanner-container">
				<div class="fullwidthbanner">
					<ul>
						<li data-transition="3dcurtain-horizontal" data-slotamount="15" data-masterspeed="300">
							<img src="images/banner/banner2.jpg" alt="" />
						</li>
						<li data-transition="3dcurtain-vertical" data-slotamount="15" data-masterspeed="300" data-link="#">
							<img src="images/banner/banner1.jpg" alt="" />
						</li>
						<li data-transition="papercut" data-slotamount="15" data-masterspeed="300" data-link="#">
							<img src="images/banner/banner3.jpg" alt="" />
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="bread">
			<ul class="clearfix">
				<li>
					<a href="index">首页</a>&nbsp;>&nbsp;
				</li>
				<li>
					<a href="about">产品中心</a>
				</li>
			</ul>
		</div>
		<div class="pg-main clearfix">
			<div class="pg-nav">
				<ul>
					<li>
						<a href="products">有机化工</a>
						<ul class="nav-drop">
							<li><a href="products">醇醚类</a></li>
							<li><a href="">羧酸类</a></li>
							<li><a href="">酯类</a></li>
							<li><a href="">含氮类</a></li>
							<li><a href="">含卤类</a></li>
							<li><a href="">含硫类</a></li>
							<li><a href="">酚类</a></li>
							<li><a href="">烃类</a></li>
							<li><a href="">醛酮类</a></li>
							<li><a href="">杂环类</a></li>
							<li><a href="">元素类</a></li>
						</ul>
					</li>
					<li>
						<a href="products">无机化工</a>
						<ul class="nav-drop">
							<li><a href="products">硫化合物及硫酸盐</a></li>
							<li><a href="">磷化合物及磷酸盐</a></li>
							<li><a href="">氯化物和氯酸盐</a></li>
							<li><a href="">氯化物和氯酸盐</a></li>
							<li><a href="">氟化合物</a></li>
							<li><a href="">碳酸盐</a></li>
							<li><a href="">硅化合物及硅酸盐</a></li>
							<li><a href="">硼化合物</a></li>
							<li><a href="">硝酸盐</a></li>
							<li><a href="">钡化合物</a></li>
							<li><a href="">铬化合物</a></li>
							<li><a href="">氧化物和过氧化物</a></li>
							<li><a href="">氢氧化物</a></li>
							<li><a href="">其他无机化合物</a></li>
						</ul>
					</li>
					<li>
						<a href="">表面活性剂</a>
						<ul class="nav-drop">
							<li><a href="products">阴离子表面活性剂</a></li>
							<li><a href="">非离子表面活性剂</a></li>
							<li><a href="">阳离子表面活性剂</a></li>
							<li><a href="">两性离子表面活性剂</a></li>
							<li><a href="">复配表面活性剂</a></li>
						</ul>
					</li>
					<li>
						<a href="">医药中间体</a>
						<ul class="nav-drop">
							<li><a href="products">胺类</a></li>
							<li><a href="">咪唑类</a></li>
							<li><a href="">吡唑类</a></li>
							<li><a href="">吡啶类</a></li>
							<li><a href="">嘧啶类</a></li>
							<li><a href="">羧酸类</a></li>
							<li><a href="">催化剂</a></li>
							<li><a href="">苯衍生物</a></li>
							<li><a href="">硼酸衍生物</a></li>
							<li><a href="">五元杂环类</a></li>
							<li><a href="">异吲哚啉酮类</a></li>
							<li><a href="">其他</a></li>
							
						</ul>
					</li>
				</ul>
			</div>
			<div class="pg-con prodetail">
				<h1>
					甘油
				</h1>
				<div>
					<h3>产品介绍：</h3>
					<p>中文品名&nbsp;:&nbsp;甘油</p>
					<p>中文别名&nbsp;:&nbsp;丙三醇；1，2，3-丙三醇；三羟基丙烷</p>
					<p>英文品名&nbsp;:&nbsp;Glycerin</p>
					<p>CAS号&nbsp;:&nbsp;56-81-5</p>
					<p>主要规格型号&nbsp;:&nbsp;95%/99.5%</p>
					<p>包装&nbsp;:&nbsp;250KG桶</p>
					<p>产地&nbsp;:&nbsp;国产/进口</p>
					<p>应用&nbsp;:&nbsp;用作基本有机化工原料，广泛用于医药、食品、日用化学、纺织、造纸、油漆等行业</p>
				</div>
				<!--<div class="procon">
					<h3>详细信息</h3>
					<ul>
						<li><span>型号：</span>6501</li>
						<li><span>品牌：</span>进口</li>
						<li><span>主要用途：</span>乳化剂</li>
						<li><span>有效物质质量：</span>90%</li>
						<li><span>执行保准：</span>国际</li>
					</ul>
				</div>-->
				<p class="cona">如有疑问，<a href="contact">→联系我们</a></p>
			</div>
		</div>
		<div class="space"></div>
		<footer>
			<p>Copyright ©2016-2017 版权所有 All Rights Reserved</p>
		</footer>

		<script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
		<script type="text/javascript" src="js/jquery.banner.revolution.min.js"></script>
		<script type="text/javascript" src="js/banner.js"></script>
		<script type="text/javascript" src="js/main.js"></script>
	</body>

</html>