<!DOCTYPE HTML>

<html>

	<head>
		<title>监利县源田玻璃有限公司</title>
		<meta charset="utf-8" />
		<link rel="stylesheet" type="text/css" href="css/banner-j.css" />
		<link rel="stylesheet" type="text/css" href="css/main.css" />
		<meta name="viewport" content="width=1200,user-scalable=yes">
	</head>

	<body>
		<header class="main-header">
			<div class="logo-bar clearfix">
				<div class="clearfix">
					<div class="logo">
						<img src="images/logo.jpg" />
					</div>
					<!--<div class="language">
						<div>
							<a href="">
								<img src="images/cn.jpg" />
								<p>简体中文</p>
							</a>
						</div>
						<div>
							<a href="">
								<img src="images/en.jpg" />
								<p>English</p>
							</a>
						</div>
					</div>-->
					
					<div class="phone clearfix">
						<img src="images/phone.jpg"/>
						<p>联系电话：18112651385</p>
					</div>
					<div class="search">
						<form class="clearfix">
							<input placeholder="输入搜索项" />
						</form>
						<a class="btn" href="">搜索</a>
					</div>
				</div>
			</div>
			<div class="nav">
				<ul class="clearfix">
					<li class="active">
						<a href="index">网站首页</a>
					</li>
					<li>
						<a href="about">关于我们</a>
						<ul class="dropdown">
							<li><a href="about">公司简介</a></li>
							<li><a href="about">企业文化</a></li>
							<li><a href="about">企业荣誉</a></li>
						</ul>
					</li>
					<li>
						<a href="products">产品中心</a>
						<ul class="dropdown">
							<li><a href="products">有机化工</a></li>
							<li><a href="products">无机化工</a></li>
							<li><a href="products">表面活性剂</a></li>
							<li><a href="products">医药中间体</a></li>
						</ul>
					</li>
					<li>
						<a href="news">公司新闻</a>
					</li>
					<li>
						<a href="partner">合作伙伴</a>
					</li>
					<li>
						<a href="contact">联系我们</a>
					</li>
				</ul>
			</div>
		</header>

		<div id="wrapper">
			<div class="fullwidthbanner-container">
				<div class="fullwidthbanner">
					<ul>
						<li data-transition="3dcurtain-horizontal" data-slotamount="15" data-masterspeed="300">
							<img src="images/banner/banner2.jpg" alt="" />
						</li>
						<li data-transition="3dcurtain-vertical" data-slotamount="15" data-masterspeed="300" data-link="#">
							<img src="images/banner/banner1.jpg" alt="" />
						</li>
						<li data-transition="papercut" data-slotamount="15" data-masterspeed="300" data-link="#">
							<img src="images/banner/banner3.jpg" alt="" />
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="bread">
			<ul class="clearfix">
				<li>
					<a href="index">首页</a>&nbsp;>&nbsp;
				</li>
				<li>
					<a href="about">产品中心</a>
				</li>
			</ul>
		</div>
		<div class="pg-main clearfix">
			<div class="pg-nav">
				<ul>
					<li>
						<a href="products">有机化工</a>
						<ul class="nav-drop">
							<li><a href="products">醇醚类</a></li>
							<li><a href="">羧酸类</a></li>
							<li><a href="">酯类</a></li>
							<li><a href="">含氮类</a></li>
							<li><a href="">含卤类</a></li>
							<li><a href="">含硫类</a></li>
							<li><a href="">酚类</a></li>
							<li><a href="">烃类</a></li>
							<li><a href="">醛酮类</a></li>
							<li><a href="">杂环类</a></li>
							<li><a href="">元素类</a></li>
						</ul>
					</li>
					<li>
						<a href="products">无机化工</a>
						<ul class="nav-drop">
							<li><a href="products">硫化合物及硫酸盐</a></li>
							<li><a href="">磷化合物及磷酸盐</a></li>
							<li><a href="">氯化物和氯酸盐</a></li>
							<li><a href="">氯化物和氯酸盐</a></li>
							<li><a href="">氟化合物</a></li>
							<li><a href="">碳酸盐</a></li>
							<li><a href="">硅化合物及硅酸盐</a></li>
							<li><a href="">硼化合物</a></li>
							<li><a href="">硝酸盐</a></li>
							<li><a href="">钡化合物</a></li>
							<li><a href="">铬化合物</a></li>
							<li><a href="">氧化物和过氧化物</a></li>
							<li><a href="">氢氧化物</a></li>
							<li><a href="">其他无机化合物</a></li>
						</ul>
					</li>
					<li>
						<a href="">表面活性剂</a>
						<ul class="nav-drop">
							<li><a href="products">阴离子表面活性剂</a></li>
							<li><a href="">非离子表面活性剂</a></li>
							<li><a href="">阳离子表面活性剂</a></li>
							<li><a href="">两性离子表面活性剂</a></li>
							<li><a href="">复配表面活性剂</a></li>
						</ul>
					</li>
					<li>
						<a href="">医药中间体</a>
						<ul class="nav-drop">
							<li><a href="products">胺类</a></li>
							<li><a href="">咪唑类</a></li>
							<li><a href="">吡唑类</a></li>
							<li><a href="">吡啶类</a></li>
							<li><a href="">嘧啶类</a></li>
							<li><a href="">羧酸类</a></li>
							<li><a href="">催化剂</a></li>
							<li><a href="">苯衍生物</a></li>
							<li><a href="">硼酸衍生物</a></li>
							<li><a href="">五元杂环类</a></li>
							<li><a href="">异吲哚啉酮类</a></li>
							<li><a href="">其他</a></li>
							
						</ul>
					</li>
				</ul>
			</div>
			<div class="pg-con productspg clearfix">
				
				<!--<ul class="clearfix">
					<li>
						<div>
							<a href="productsDetail">
								<img src="images/products/pro1.jpg"/>
								<h3>
									6501
								</h3>
								<p>
									主要用途：乳化剂，产品为淡黄色或珀色透明液体，具有较强的起泡力、浸透力、去污力、防锈力
								</p>
							</a>
						</div>
					</li>
				</ul>-->
				<ul>
					<li>
						<p>中文品名</p>
						<p>英文品名</p>
						<p>CAS号</p>
					</li>
					<li>
						<a href="productsDetail">
							<p>甘油</p>
							<p>Glycerin</p>
							<p>56-81-5</p>
						</a>
					</li>
					<li>
						<a href="productsDetail">
							<p>1，2-丙二醇</p>
							<p>1,2-Propanediol</p>
							<p>57-55-6</p>
						</a>
					</li>
					<li>
						<a href="productsDetail">
							<p>二丙二醇</p>
							<p>Dipropylene glycol</p>
							<p>25265-71-8；110-98-5</p>
						</a>
					</li>
					<li>
						<a href="productsDetail">
							<p>甘油</p>
							<p>Glycerin</p>
							<p>56-81-5</p>
						</a>
					</li>
					<li>
						<a href="productsDetail">
							<p>1，2-丙二醇</p>
							<p>1,2-Propanediol</p>
							<p>57-55-6</p>
						</a>
					</li>
					<li>
						<a href="productsDetail">
							<p>二丙二醇</p>
							<p>Dipropylene glycol</p>
							<p>25265-71-8；110-98-5</p>
						</a>
					</li>
					<li>
						<a href="productsDetail">
							<p>甘油</p>
							<p>Glycerin</p>
							<p>56-81-5</p>
						</a>
					</li>
					<li>
						<a href="productsDetail">
							<p>1，2-丙二醇</p>
							<p>1,2-Propanediol</p>
							<p>57-55-6</p>
						</a>
					</li>
					<li>
						<a href="productsDetail">
							<p>二丙二醇</p>
							<p>Dipropylene glycol</p>
							<p>25265-71-8；110-98-5</p>
						</a>
					</li>
					<li>
						<a href="productsDetail">
							<p>甘油</p>
							<p>Glycerin</p>
							<p>56-81-5</p>
						</a>
					</li>
					<li>
						<a href="productsDetail">
							<p>1，2-丙二醇</p>
							<p>1,2-Propanediol</p>
							<p>57-55-6</p>
						</a>
					</li>
					<li>
						<a href="productsDetail">
							<p>二丙二醇</p>
							<p>Dipropylene glycol</p>
							<p>25265-71-8；110-98-5</p>
						</a>
					</li>
					<li>
						<a href="productsDetail">
							<p>甘油</p>
							<p>Glycerin</p>
							<p>56-81-5</p>
						</a>
					</li>
					<li>
						<a href="productsDetail">
							<p>1，2-丙二醇</p>
							<p>1,2-Propanediol</p>
							<p>57-55-6</p>
						</a>
					</li>
					<li>
						<a href="productsDetail">
							<p>二丙二醇</p>
							<p>Dipropylene glycol</p>
							<p>25265-71-8；110-98-5</p>
						</a>
					</li>
				</ul>
			</div>
			<div class="pager">
				<ul class="clearfix">
					<li><a href="">&lt;</a></li>
					<li class="active"><a href="">1</a></li>
					<li><a href="">2</a></li>
					<li><a href="">&gt;</a></li>
				</ul>
			</div>
		</div>
		<div class="space"></div>
		<footer>
			<p>Copyright ©2016-2017 版权所有 All Rights Reserved</p>
		</footer>

		<script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
		<script type="text/javascript" src="js/jquery.banner.revolution.min.js"></script>
		<script type="text/javascript" src="js/banner.js"></script>
		<script type="text/javascript" src="js/main.js"></script>
	</body>

</html>